name: CI
on:
  push:
    branches:
      - 'main'
      - 'scratch/**'
    tags:
      - '[0-9]+.[0-9]+.[0-9]+'
      - '[0-9]+.[0-9]+.[0-9]+.[0-9]+'
  pull_request:
  schedule:
    # Monday at 04:41
    - cron: '41 4 * * 1'

env:
  BBI_VERSION: v3.4.0

jobs:
  check:
    runs-on: ${{ matrix.config.os }}
    name: ${{ matrix.config.os }} R ${{ matrix.config.r }} ${{ matrix.config.label }}
    strategy:
      fail-fast: false
      matrix:
        config:
          - os: ubuntu-22.04
            r: 4.0.5
            rspm: 'https://packagemanager.posit.co/cran/__linux__/jammy/2023-01-25'
          - os: ubuntu-22.04
            r: 4.3.3
          - os: ubuntu-22.04
            r: 4.4.2
          - os: ubuntu-latest
            r: release
          - label: bbr-main
            os: ubuntu-latest
            r: release
    env:
      R_KEEP_PKG_SOURCE: yes
      BBR_BAYES_TESTS_SKIP_TORSTEN: yes
    steps:
      - uses: actions/checkout@v4
      - uses: metrumresearchgroup/actions/mpn-latest@v1
      - name: Install bbi
        uses: metrumresearchgroup/actions/setup-bbi@v1
        with:
          version: ${{ env.BBI_VERSION }}
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: ${{ matrix.config.r }}
          use-public-rspm: true
          extra-repositories: 'https://mpn.metworx.com/snapshots/stable/${{ env.MPN_LATEST }}'
        env:
          RSPM: ${{ matrix.config.rspm }}
      - name: Configure bbr main packages source
        if: matrix.config.label == 'bbr-main'
        shell: bash
        run: |
          echo "BBR_PKG=github::metrumresearchgroup/bbr@main" >>"$GITHUB_ENV"
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: |
            any::pkgdown
            any::rcmdcheck
            ${{ env.BBR_PKG }}
            ${{ matrix.config.distributional_pkg }}
            ${{ matrix.config.actuar_pkg }}
            ${{ matrix.config.gh_pkg }}
            ${{ matrix.config.purrr_pkg }}
            ${{ matrix.config.scales_pkg }}
          upgrade: ${{ matrix.config.r == '4.0.5' && 'FALSE' || 'TRUE' }}
      - name: Install cmdstan
        uses: ./.github/actions/setup-cmdstan
      - name: Enable install_torsten tests for Cron job
        if: github.event_name == 'schedule'
        shell: bash
        run: |
          echo 'BBR_BAYES_TESTS_SKIP_TORSTEN=' >>"$GITHUB_ENV"
      - uses: r-lib/actions/check-r-package@v2
        with:
          error-on: ${{ matrix.config.r == 'release' && '"note"' || '"warning"' }}
      - name: Check pkgdown
        shell: Rscript {0}
        run: pkgdown::check_pkgdown()
  release:
    if: github.ref_type == 'tag'
    name: Upload release
    needs: check
    runs-on: ubuntu-latest
    permissions:
      id-token: write
      contents: read
    steps:
      - uses: actions/checkout@v4
      - uses: metrumresearchgroup/actions/mpn-latest@v1
      - name: Install bbi
        uses: metrumresearchgroup/actions/setup-bbi@v1
        with:
          version: ${{ env.BBI_VERSION }}
      - uses: r-lib/actions/setup-r@v2
        with:
          r-version: release
          use-public-rspm: true
          extra-repositories: 'https://mpn.metworx.com/snapshots/stable/${{ env.MPN_LATEST }}'
      - uses: r-lib/actions/setup-r-dependencies@v2
        with:
          extra-packages: any::pkgpub
      - name: Install cmdstan
        uses: ./.github/actions/setup-cmdstan
      - uses: metrumresearchgroup/actions/publish-r-release@v1
